*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
:root{
--main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
}
body{
    font-family: 'Work Sans',sans-serif;
}
.container{
    padding-left:15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*start component*/
.special-Heading{
    color: rgb(197, 195, 195);
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;

}
.special-Heading + p{
    margin:-60px 0 0;
    font-size: 20px;
    color: rgb(59, 58, 58);
    text-align: center;

}
/*end component*/
/*mobile*/
@media (max-width: 767px) {
    .special-Heading{
        font-size: 60px;
        line-height: 20px;
    }
    .special-Heading +p{
        margin-top: -20px;
    }

}
/*small screen*/
@media (min-width:768px) and (max-width:991px) {
   
}
/*medium*/
@media (min-width:992px) {
    

 
}
/*large*/
@media (min-width:1200px) {

}
/*custom*/
@media (max-width:1199){

}
/*start Header*/
.header{
  
    height:64px;
    padding:20px;
    
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: flex-end;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height:2px;
}
.header .links .icon span:first-child{
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links ul{
    list-style: none;
    background-color: var(--main-color);
    position: absolute;
    margin:0;
    padding:0;
   z-index:1000;
   top:calc(100%+30px);
   right:18px;
   min-width: 200px;
   margin-top: 10px;
   display:none;
 
}
.header .links ul :before{
    content:'';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--main-color) transparent;
    position: absolute;
    right:5px;
    top:-20px;
}
.header .links ul a{
    text-decoration: none;
    padding:15px;
    color:#333;
    transition: var(--main-duration);
    display:block;
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}
.header .links ul li :hover{
    padding-left:20px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid gray;
}
.header .links:hover ul {
    display: block;
}
/*end Header*/
/*____________*/
/*____________*/
/*startlanding*/
.landing{
    background: url(../images//landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.landing .intro-text h1{
font-weight: bold;
font-size: 50px;
color:var(--main-color);
}

.landing .intro-text p{
font-size: 19px;
line-height: 1.8;
}
/*end landing*/
/*____________*/
/*____________*/
/*start features*/
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--section-background);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .container .feat{
padding:30px;
text-align: center;
width: 300px;
margin-top: 6px;
}
.features .container .feat i{
    color:var(--main-color)
}
.features .container .feat h3{
    font-weight: bold;
    margin:30px 0;
}
.features .container .feat p {
    color:#777;
    line-height: 1.8;
    font-size: 17px;
}
/*end features*/

.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .serv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .serv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .serv i {
    color: var(--main-color);
    flex-basis: 60px;
}

.services .services-content .serv .text {
    flex: 1;
}

.services .services-content .serv .text h3 {
    margin: 0 0 20px;
}

.services .services-content .serv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image::before {
   content:'';
   width: 100px;
   height:calc(100% + 100px);
   background-color: #2c4755;
   position: absolute;
   top:-50px;
   right:0;
   right:30px;
   z-index:-1;
}
.services .services-content .image img {
    width: 260px;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}


/*portfolio*/

.portfolio{
padding-top:60px;
padding-bottom: 60px;
background-color: var(--section-background);

}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card:hover{
    transform:scale(1.1)  ;
    
}
.portfolio .portfolio-content img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .info-text {
    padding: 20px;
    text-align: center;
}

.portfolio .portfolio-content .card .info-text h3 {
    margin: 0;
}
/*about*/
.about {
    padding-top: 60px;
    padding-bottom: calc(60px + 60px);
}
.about .about-content{
    display:flex;
   flex-direction: wrap;
   justify-content: space-between;
   margin-top: 100px;
   padding:40px;
}

.about .about-content .image {
    position: relative;
    width: 300px;
    height:375px;
}
.about .about-content img{
    max-width: 100%;
}
.about .about-content .image::before{
    content:'';
    position: absolute;
    background-color: #ebeced;
    width: 100px;
        height: calc(100% + 80px);
        top: -40px;
        left: -20px;
        z-index:-1;
}
.about .about-content .image::after{
    content:'';
    position: absolute;
    width: 120px;
    height: 300px;
    top: -40px;
    right:-150px;
    z-index: -1;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);

}
.about .about-content .text{
    flex-basis: calc(100%-500px);
    padding-left:120px;
}
@media (max-width:991px) {
    .about .about-content .image {
        display: none;
    }
    .about .about-content .text{
        text-align: center;
        padding-right:-40px;
        width: 900px;
    }
    
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 30px;
 }
.about .about-content .text hr{
    width: 100%;
    border-color: var(--main-color);
    display: inline-block;
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

@media (max-width:991px) {
    .about .about-content .text p:last-of-type{
        margin-top: 30px;
    }
}
/*contact*/
.contact{
    padding-top:60px;
    padding-bottom: 60px;
    background-color:rgb(216, 223, 216);
}
.contact .info {
    padding-top:60px;
    padding-bottom:60px;
    text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 10px;
}
.contact .info .social i {
  margin-left: 20px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 20px;
    }
}
.footer{
    text-align: center;
    height:40px;
    font-weight: bold;
    padding:30px;
    background-color: var(--secondary-color);
}
.footer span{
   color: #10cab7;
}
@media (max-width:767){
    footer {
        font-size:20px;
        font-weight: 100;
    }
}